@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap");

body {
  background-color: #1e2938;
  max-height: 700px;
}

#all-content {
  /* border: #10b982 solid 3px; */
  margin: 5% 20% 0% 20%;
  padding: 2% 5% 0% 5%;
  font-family: "Karla", sans-serif;
  text-align: center;
}

.info-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#white-title {
  color: #fcfeff;
  margin: 0% 0% 0% 0%;
  font-weight: 800;
}

#green-title {
  color: #4adf88;
  margin: 0% 0% 4% 0%;
  font-weight: 800;
}

#under-title {
  color: #b0b3bb;
  margin: 0% 0% 5% 0%;
}

#gen-pw-btn {
  background-color: #10b982;
  color: #effefa;
  border-radius: 5px;
  /* border: 1px solid #10b982; */
  border: none;
  margin-bottom: 20px;
  padding: 2% 3%;
}

#line-seperator-color {
  border: none;
  height: 2px;

  background-color: #2d3a4d;

  margin: 0% 0%;
}

#password-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* #password-container {
  display: flex;
  flex-flow: column;
} */

#passwords {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 15px; */
}

#password-15-characters {
  display: flex;
  flex-flow: column;

  margin: 15px 50px 0px 10px;
  padding: 0px 0px;
}

#password-8-characters {
  display: flex;
  flex-flow: column;

  margin: 15px 10px 0px 50px;
  padding: 0px 0px;
}

#random-string-one {
  margin: 5px 0px 0px 0px;
  padding: 8px 20px;

  border-radius: 10px;

  height: max-content;
  width: max-content;
}

#random-string-two {
  margin: 5px 0px 0px 0px;
  padding: 8px 20px;

  border-radius: 10px;

  height: max-content;
  width: max-content;
}
.label-password {
  color: #b0b3bb;
}

.password-color {
  color: #60f596;
  background-color: #283549; /*original color 283549*/
}

@media (max-width: 769px) {
  #all-content {
    margin: 5% 20% 5% 20%;
  }

  .info-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #white-title {
    color: #fcfeff;
    margin: 0% 0% 0% 0%;
    font-weight: 800;
    font-size: 1.7em;
  }

  #green-title {
    color: #4adf88;
    margin: 0% 0% 3% 0%;
    font-weight: 800;
    font-size: 1.7em;
  }

  #under-title {
    color: #b0b3bb;
    margin: 0% 0% 5% 0%;
    font-size: 0.9em;
  }

  #gen-pw-btn {
    background-color: #10b982;
    color: #effefa;
    border-radius: 6px;
    /* border: 1px solid #10b982; */
    border: none;
    font-size: 0.8em;
    margin-bottom: 20px;

    padding: 3% 5% 3% 5%;
  }

  #passwords {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #password-15-characters {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin: 15px 30px 0px 10px;
    padding: 0px 0px;
  }

  #password-8-characters {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin: 15px 10px 0px 30px;
    padding: 0px 0px;
  }

  #random-string-one {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    margin: 5px 0px 0px 0px;
    padding: 8px 20px;

    border-radius: 10px;
  }

  #random-string-two {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    margin: 5px 0px 0px 0px;
    padding: 8px 20px;

    border-radius: 10px;
  }
}

@media (max-width: 426px) {
  /* #all-content {
    margin: 5% 27.2% 5% 27.2%;
  } */

  .info-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #white-title {
    color: #fcfeff;
    margin: 0% 0% 0% 0%;
    font-weight: 800;
    font-size: 1.7em;
  }

  #green-title {
    color: #4adf88;
    margin: 0% 0% 15% 0%;
    font-weight: 800;
    font-size: 1.7em;
  }

  #under-title {
    color: #b0b3bb;
    margin: 0% 0% 18% 0%;
    font-size: 0.9em;
  }

  #gen-pw-btn {
    background-color: #10b982;
    color: #effefa;
    border-radius: 6px;
    /* border: 1px solid #10b982; */
    border: none;
    font-size: 0.8em;
    margin-bottom: 20px;

    padding: 5% 8% 5% 8%;
  }

  #passwords {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #password-15-characters {
    margin: 15px 0px 20px 0px;
    padding: 0px 0px;
  }

  #password-8-characters {
    margin: 15px 0px 0px 0px;
    padding: 0px 0px;
  }

  #random-string-one {
    margin: 8px 0px 0px 0px;
    padding: 8px 20px;
  }

  #random-string-two {
    margin: 8px 0px 0px 0px;
    padding: 8px 20px;
  }
}

@media (max-width: 376px) {
  /* #all-content {
    margin: 5% 24.7% 5% 24.7%;
  } */

  .info-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #white-title {
    color: #fcfeff;
    margin: 0% 0% 0% 0%;
    font-weight: 800;
    font-size: 1.7em;
  }

  #green-title {
    color: #4adf88;
    margin: 0% 0% 15% 0%;
    font-weight: 800;
    font-size: 1.7em;
  }

  #under-title {
    color: #b0b3bb;
    margin: 0% 0% 18% 0%;
    font-size: 0.9em;
  }

  #gen-pw-btn {
    background-color: #10b982;
    color: #effefa;
    border-radius: 6px;
    /* border: 1px solid #10b982; */
    border: none;
    font-size: 0.8em;
    margin-bottom: 20px;

    padding: 5% 8% 5% 8%;
  }

  #passwords {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #password-15-characters {
    margin: 15px 0px 20px 0px;
    padding: 0px 0px;
  }

  #password-8-characters {
    margin: 15px 0px 0px 0px;
    padding: 0px 0px;
  }

  #random-string-one {
    margin: 8px 0px 0px 0px;
    padding: 8px 20px;
  }

  #random-string-two {
    margin: 8px 0px 0px 0px;
    padding: 8px 20px;
  }
}

@media (max-width: 320px) {
  #all-content {
    margin: 5% 21% 5% 21%;
  }

  .info-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #white-title {
    color: #fcfeff;
    margin: 0% 0% 0% 0%;
    font-weight: 800;
    font-size: 1.7em;
  }

  #green-title {
    color: #4adf88;
    margin: 0% 0% 15% 0%;
    font-weight: 800;
    font-size: 1.7em;
  }

  #under-title {
    color: #b0b3bb;
    margin: 0% 0% 18% 0%;
    font-size: 0.9em;
  }

  #gen-pw-btn {
    background-color: #10b982;
    color: #effefa;
    border-radius: 6px;
    /* border: 1px solid #10b982; */
    border: none;
    font-size: 0.8em;
    margin-bottom: 20px;

    padding: 5% 8% 5% 8%;
  }

  #passwords {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #password-15-characters {
    margin: 15px 0px 20px 0px;
    padding: 0px 0px;
  }

  #password-8-characters {
    margin: 15px 0px 0px 0px;
    padding: 0px 0px;
  }

  #random-string-one {
    margin: 8px 0px 0px 0px;
    padding: 8px 20px;
  }

  #random-string-two {
    margin: 8px 0px 0px 0px;
    padding: 8px 20px;
  }
}
